.notecard{
    padding: 15px 5px;
    width: 90%;
    margin: 70px auto;
    height: 150px !important;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
   
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.close{
    margin-bottom: 8px;
}
.heading{
    width: 80%;
    text-align: center;
    padding: 3px;
    background-color: rgb(173, 173, 173);
    color: rgb(0, 0, 255);
    margin-bottom: 10px;
    font-size: 1.1em;
}
.close button{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
}
.close button:hover{
    background-color: grey;
    color: white;
}
.inputarea{
    margin: auto;
    width: 90%;
    height: 100%;
}
.inputarea input{
    width: 100%;
    height: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.5px;
    font-size: 1em;
    font-weight: 500px !important;
    border: none;
    padding: 5px;
    margin: 10px auto;
}
.inputarea input:focus, .textarea:focus{
    outline: none;
}
.add{
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
}
@media screen and (min-width : 768px) {
    .notecard{
        width: 500px;
        margin: 100px auto;
    }
    .add{
        padding: 5px 70px;
    }
}